/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
    width: 100%; /* Ocupa toda a largura */
    max-width: 500px; /* Limita a largura em telas maiores */
    padding: 10px;
    box-sizing: border-box;
}

#timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}

#timer {
    font-size: 10vw; /* Responsivo baseado na largura da tela */
    font-weight: bold;
    color: green;
    text-align: center;
}

video {
    margin-top: 10px;
    width: 100%; /* O vídeo ocupa toda a largura da tela */
    max-width: 300px; /* Limite para telas maiores */
}

button {
    font-size: 4vw;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 80%; /* Botões mais largos para facilitar o toque */
    max-width: 300px; /* Limite para telas maiores */
}

textarea {
    width: 100%;
    max-width: 400px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    #timer {
        font-size: 12vw; /* Aumenta o tamanho da fonte do timer */
    }

    button {
        font-size: 5vw; /* Ajusta o tamanho dos botões */
        padding: 8px 15px;
    }

    textarea {
        font-size: 4vw;
        height: 150px; /* Reduz a altura do textarea para caber na tela */
    }
}
