/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
    width: 100%;
    max-width: 400px; /* Define a largura máxima específica para dispositivos de 6.3" */
    padding: 10px;
    box-sizing: border-box;
}

#timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}

#timer {
    font-size: 14vw; /* Ajusta o tamanho do texto para a largura do dispositivo */
    font-weight: bold;
    color: green;
    text-align: center;
}

video {
    margin-top: 10px;
    width: 100%;
    max-width: 350px; /* Limita o tamanho do vídeo */
}

button {
    font-size: 4vw; /* Ajusta o tamanho do texto nos botões */
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 85%; /* Aumenta a largura dos botões para facilitar o toque */
    max-width: 350px;
}

textarea {
    width: 100%;
    max-width: 350px;
    font-size: 4vw;
    height: 120px; /* Ajusta altura para uma tela de 6,3 polegadas */
}

/* Estilos para dispositivos móveis de 6.3" e menores */
@media (max-width: 414px) {
    #timer {
        font-size: 16vw; /* Aumenta o tamanho do texto do timer */
    }

  
    }

    textarea {
        font-size: 4vw;
        height: 120px;
    }

    /* Margens e espaçamentos */
    #app {
        padding: 5px;
    }

    #timer-container {
        margin-top: 15px;
    }
}
